{% extends "todo/base.html" %}
{% load static %}
{% block css %}
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          text-align: center;
        }
        input[type='checkbox'] {
            cursor: pointer;
        }
    </style>
{% endblock css %}
{% block content %}
  <h1>{{ object.title }}</h1>
  <div style="display:inline-block">
    <table>
        <thead>
            <tr>
                <th>✔</th>
                <th>Task</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for task in object.task_set.all %}
            <tr>
                <td><a href="{% url "task-toggle-complete" task_id=task.pk %}"><input type="checkbox" id="task-{{ task.pk }}" {{ task.completed|yesno:'checked, ' }}></a></td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td><img src="{% static "todo/images/edit.svg" %}" alt="Edit the task name or description of {{ task.name }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <form>
            <button formaction="{% url "list-delete" slug=object.slug %}">delete list</button>
            <button formaction="{% url "task-add" slug=object.slug %}" style="float:right">add task</button></form>
    </div>
  </div>
{% endblock %}
