{% extends "todo/base.html" %}
{% load static %}
{% block css %}
    {{ block.super }}
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
              text-align: center;
            }
            input[type='checkbox'] {
                cursor: pointer;
            }
        </style>
{% endblock css %}
{% block content %}
    {% if form %}
    <br />
    <form method="post">
        {% csrf_token %}
        <div class="container">{{ form }}<input type="submit" value="Save"></div>
    <br /><br /><br />
    </form>
    {% else %}
        <h1>{{ object.title }} <a href="{% url "list-update" slug=object.slug %}"><img src="{% static "todo/images/edit.svg" %}" alt="Edit the title of {{ object.title }}"></a></h1>
    {% endif %}
  <div class="container">
    <table>
        <thead>
            <tr>
                <th>✔</th>
                <th>Task</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for task in object.task_set.all %}
            <tr>
                <td><a href="{% url "task-toggle-complete" pk=task.pk %}"><input type="checkbox" id="task-{{ task.pk }}" {{ task.completed|yesno:'checked, ' }}></a></td>
                <td>{% if task.completed %}<s>{% endif %}{{ task.name }}{% if task.completed %}</s>{% endif %}</td>
                <td>{{ task.description }}</td>
                <td><a href="{% url "task-update" pk=task.pk %}"><img src="{% static "todo/images/edit.svg" %}" alt="Edit the task name or description of {{ task.name }}"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <form>
            <button formaction="{% url "task-add" slug=object.slug %}">add task</button>
            <button formaction="{% url "list-delete" slug=object.slug %}" class="right">delete list</button></form>
    </div>
    <div class="right">
        <p><a href="{% url "show-lists" %}">View All Lists</a></p>
    </div>
  </div>

{% endblock %}
