{% extends "todo/base.html" %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
            <button type="button"
                    onclick="window.location.href='{% if object.todo_list.slug %}{% url "list-detail" slug=object.todo_list.slug %}{% elif slug %}{% url "list-detail" slug=slug %}{% else %}/{% endif %}';" class="right">Cancel</button>
        </form>
    </div>
{% endblock content %}